body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(0, 0, 0, 0.411);
    color: rgb(247, 242, 242);
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: rgba(0, 0, 0, 0.7); 
    color:rgb(240, 149, 14);
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li.right {
    float: right; /* Align right */
}
main {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.692); 
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
col
{
    color:rgb(128, 0, 0)
}
.colored-text {
    color: rgb(245, 8, 8); 
}
