/*body is common for login and registration*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*form for registration*/
#v-form1 {
    background-color: rgba(255,255,255,0.7);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    padding-bottom: 3%;
    padding-top: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 300px;
    opacity: 100%;
    margin-top: auto;
    margin-bottom: 0%;
}
/*form for login*/
#v-form2 {
    background-color: rgba(255,255,255,0.7);
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 300px;
    opacity: 100%;
}
/*class of h2 in registration form and login form*/
.h2-1 {
    text-align: center;
}
/*class of inputs in registration and login forms*/
.v-reg{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/*class for submit buttons in both forms*/
.v-regsub {
    width: 100%;
    background-color: black;
    color: #fff;
    border: none;
    padding : 10px;
    border-radius: 3px;
    cursor: pointer;
}
